{{ define "head" }}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th {
            background-color: #605a5b;
            border: solid 1px #ffffff;
            padding: .7rem;
            color: #e7e8e2;
        }
        td {
            border: solid 1px #666969;
            padding: .7rem;
        }
        tr:hover {
            background-color: #ffffb3;
        }
        .status-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .status {
            width: 3rem;
            height: 3rem;
            border-radius: 3rem;
        }
        .status-green {
            background-color: #00ff00;
        }
        .status-red {
            background-color: #ff0000;
        }
    </style>
{{ end }}

{{ define "content" }}
    <a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://app.statuscake.com/button/index.php?Track=7261170&Days=1&Design=1" /></a>
    <table>
        <thead>
            <tr>
                {{ range .TableHeaders }}
                    <th>
                        {{ . }}
                    </th>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ range .TableRows }}
                <tr>
                    <td>
                        {{ .Service }}
                    </td>
                    <td>
                        {{ .StatusKey }}
                    </td>
                    <td>
                        <div class="status-container">
                            <div class="status status-{{ if eq .Healthy true }}green{{else}}red{{end}}"></div>
                        </div>
                    </td>
                    <td>
                        {{ .UnhealthyStartedAtDisplay }}
                    </td>
                    <td>
                        {{ .UnhealthyDelayInSeconds }}
                    </td>
                    <td>
                        {{ .Message }}
                    </td>
                    <td>
                        {{ .ExpiresAtDisplay }}
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
{{ end }}
