{{ define "head" }}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: solid 1px #666969;
            padding: .7rem;
        }
        tr:hover {
            background-color: #ffffb3;
        }
        .status-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .status {
            width: 3rem;
            height: 3rem;
            border-radius: 3rem;
        }
        .status-green {
            background-color: #00ff00;
        }
        .status-red {
            background-color: #ff0000;
        }
    </style>
{{ end }}

{{ define "content" }}
    <table>
        <thead>
            <tr>
                {{ range .TableHeaders }}
                    <th>
                        {{ . }}
                    </th>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ range .TableRows }}
                <tr>
                    <td>
                        {{ .Service }}
                    </td>
                    <td>
                        {{ .StatusKey }}
                    </td>
                    <td>
                        <div class="status-container">
                            <div class="status status-{{ if eq .Unhealthy true }}red{{else}}green{{end}}"></div>
                        </div>
                    </td>
                    <td>
                        {{ .UnhealthyStartedAt }}
                    </td>
                    <td>
                        {{ .UnhealthyDelayInSeconds }}
                    </td>
                    <td>
                        {{ .Message }}
                    </td>
                    <td>
                        {{ .ExpiresAt }}
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
{{ end }}
