[Unit]
Description=Health Monitor App
After=network.target

[Service]
Type=simple
ExecStart=/home/piegarden/deploy/healthy/healthy

Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
